{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block footer %}
  {{ super() }}
  <div class="md-footer-klein-banner">
    <div class="md-footer-klein-banner__inner md-grid">
      <div class="md-footer-klein-banner__text">Michael Qiu's Blog</div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}