{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block footer %}
  {{ super() }}
  <div class="md-footer-klein-banner">
    <div class="md-footer-klein-banner__inner md-grid">
      <div class="md-footer-klein-banner__text">Michael Qiu's Blog</div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
  <script>
    const lenis = new Lenis({
      duration: 1.5,
      easing: function(t) { return Math.min(1, 1.001 - Math.pow(2, -10 * t)); },
      smooth: true,
      smoothTouch: false
    });
    function raf(time) { lenis.raf(time); requestAnimationFrame(raf); }
    requestAnimationFrame(raf);
    window.addEventListener('load', function() { lenis.resize(); });
  </script>
{% endblock %}